@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --vibrant-pink: #d703e5;
  --vibrant-blue: #0332eb;
  --dark-button-color: white;
  .inverted-bg{
    background-color: rgb(214, 219, 220);
    color: black
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --vibrant-pink: #d703e5;
    --vibrant-blue: #0332eb;
    --dark-button-color: black;
  }
  .inverted-bg{
    background-color: rgb(214, 219, 220);
    color: black
  }
}
@media (prefers-color-scheme: no-preference) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --vibrant-pink: #d703e5;
    --vibrant-blue: #0332eb;
    --dark-button-color: black;
  }
  .inverted-bg{
    background-color: rgb(214, 219, 220);
    color: black
  }
}

.header{
  width:100%;
  padding: 10px;
}

.float-right{
  float: right
}

.float-left{
  float: left;
}

.full-screen{
  height: 80vh;
  min-height: 700px;
}

.signInButton{
  background-color: #d703e5;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  color: var(--dark-button-color)
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  height:auto !important;
}
body {
  font-family: 'Atkinson', sans-serif;
  color: rgb(var(--foreground-rgb));
  /*
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
   */
  background-color: black;
  height: 100vh;
  min-height: 729px;
}

h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
  font-weight: 1000;
  color:black;
  background-image: linear-gradient(45deg, var(--vibrant-pink), var(--vibrant-blue));
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h2 {
  font-size: 2.441em;
  background-image: linear-gradient(45deg, var(--vibrant-pink), var(--vibrant-blue));
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h3 {
  font-size: 1.953em;
  background-image: linear-gradient(45deg, var(--vibrant-pink), var(--vibrant-blue));
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h4 {
  font-size: 1.563em;
  background-image: linear-gradient(45deg, var(--vibrant-pink), var(--vibrant-blue));
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: rainbow-text-simple-animation-rev 0.5s ease forwards;
}
h4:hover{
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
h5 {
  font-size: 1.25em;
  background-image: linear-gradient(45deg, var(--vibrant-pink), var(--vibrant-blue));
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


