:root{
    --grid-layout: repeat(7, 1fr)
}

@media only screen and (max-width: 750px){
    .meal-container{
        background-size: cover;
        max-height: 150px;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
    }
    .random-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .meal-container-text{
        background-size: cover;
        max-height: 150px;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -150px
    }

    :root{
        --grid-layout: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 950px){
    .meal-container{
        background-size: cover;
        height: 85vh;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
    }
    .meal-container-text{
        background-size: cover;
        height: 84vh;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-height: 950px){
    .meal-container{
        background-size: cover;
        height: 150px;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
    }
    .meal-container-text{
        background-size: cover;
        height: 150px;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -150px
    }
    :root{
        --grid-layout: repeat(1, 1fr);
    }
}

@media only screen and (min-height: 950px){
    .meal-container{
        background-size: cover;
        height: 84vh;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
    }
    .meal-container-text{
        background-size: cover;
        height: 84vh;
        transition: 0.5s all;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.meal-container-text:hover{
    transform: scale(1.1)
}

main{
    width: 100%;
    margin: 0px;
}

.random-grid{
    display: grid;
    grid-template-columns: var(--grid-layout);
}

.filter-container{
    position: fixed;
    bottom: 0;
    left: 0;
}


.meal-background-image{
    position: fixed;
    height: 84vh;
    left: 0;
    width: 100%;
}

.meal-background-image:hover{
    scale: 1.1
}